.button {
  background-color: var(--color-purple);
  border: 0;
  border-radius: var(--border-radius-base);
  color: #fff;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;

  font-family: var(--font-family-primary);
  font-weight: 400;

  min-height: 32px;

  transition-duration: 0.35s;
  transition-property: opacity;

  &:active {
    transform: translateY(1px);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.88;
  }

  &:focus {
    outline: none;
  }
}

.huge {
  padding-left: 56px;
  padding-right: 56px;
  font-size: 16px;
  min-height: 56px;
}

.disabled {
  background-color: #d7e1ea;
  color: #a2adc2;

  &:disabled {
    cursor: not-allowed;
  }
}
