.button {
  background-color: var(--color-purple);
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 14px;
  padding-bottom: 14px;

  &:active {
    transform: translateY(1px);
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
