.grid {
  display: grid;
  grid-template-columns: repeat(24, minmax(1px, 4.16666666%));
  gap: 16px;
  max-width: 1136px;
  margin: 0 auto;
}

.col {
  overflow: hidden;
}

@for $i from 1 through 24 {
  .col-#{$i} {
    grid-column: span $i;
  }
}

@media screen and (max-width: var(--breakpoint-lg)) {
  @for $i from 1 through 24 {
    .col-lg-#{$i} {
      grid-column: span $i;
    }
  }
}
