.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  z-index: 99;
}

.inner {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: var(--breakpoint-xs);

  background-color: #fff;
  padding: 24px;
  border-radius: var(--border-radius-base);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}
