.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  z-index: 99;

  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  padding: 24px;
  border-radius: var(--border-radius-base);
}
