@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
