:root {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
}

:root {
  --color-purple: #643fff;
  --color-black: #18214d;
}

:root {
  --font-family-primary: "Navigo", sans-serif;
}

:root {
  --border-radius-base: 3px;
}
